// Variables gloabeles
$mainColor:grey;
$secondaryColor:white;
$keyColor:black;
$linkColor:violet;

// Fonts
$mainFont: 'Red Hat Text', sans-serif;

// weights
$textRegular:400;
$textLight:300;
$textBold:600;

//sizes
$textMd:1.2em;
$textLg:1.4em;
$textXxl:3em;


